@model NCSustainability.Models.EventCategory


<form asp-action="Create" asp-controller="EventCategories" method="post" id="createEventCategoryForm">
    <div class="row">
        <div class="col-md-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventCategoryName" class="control-label"></label>
                <input asp-for="EventCategoryName" class="form-control" />
                <span asp-validation-for="EventCategoryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" id="submitCreate" class="btn btn-outline-dark" />
            </div>
        </div>
    </div>
</form>