@media only screen and (max-width:374px) {
    .menu-container {
        display: block;
    }

    


    img#logo {
        height: 60px;
        width: 190px;
        margin-left: 40px;
        margin-top: 0px;
    }

    #logo {
        margin-top: 10px;
        margin-left: 30px;
    }

    /*.carousel-item .img-fluid {
        width: 500%;
        max-height: 500%;
    }*/

    h5.hypertext-2{
        height: 60px;
        width: 60px;
        margin-right: 100%;
    }


    #carouselFull {
        width: 100%;
        height: 800%;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .toggler {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 2.0rem;
        left: 0.5rem;
        width: 40px;
        height: 45px;
        border-radius: 50%;
        background-color: #0077BE;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

        .hamburger > div {
            position: absolute;
            width: 60%;
            height: 3px;
            border-radius: 1.5px;
            background-color: #fff;
            transition: .4s;
        }

            .hamburger > div:before, .hamburger > div:after {
                content: '';
                position: absolute;
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: #fff;
                transition: .4s;
            }

            .hamburger > div:before {
                top: -10px;
            }

            .hamburger > div:after {
                top: 10px;
            }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg)
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg)
    }

    .toggler:checked + .hamburger > div:after, .toggler:checked + .hamburger > div:before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        visibility: visible;
    }

        .toggler:checked ~ .menu > div {
            transform: translateX(-50%) translateY(-50%);
        }

            .toggler:checked ~ .menu > div > div {
                opacity: 1;
            }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        transition: .6s;
    }

        .menu > div {
            position: absolute;
            width: 390px;
            height: 1600px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%);
            background-color: rgba(0, 0, 0, 0.9);
            transition: .6s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .menu > div > div {
                max-width: 900vh;
                max-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
            }

                .menu > div > div > ul > li {
                    list-style: none;
                }

                    .menu > div > div > ul > li > a {
                        text-decoration: none;
                        margin: .5rem;
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #fff;
                        transition: .3s;
                    }

                        .menu > div > div > ul > li > a:hover {
                            color: #fff44f;
                        }

    .carousel-inner carousel-item {
        height: 100vh;
    }

    #carousel {
        padding-bottom: 250px;
        float: left;
    }

    .carousel h3 {
        font-size: 50px;
        text-transform: uppercase;
    }

    .carousel-control-prev {
        background-image: none;
    }

    .carousel-control-next {
        background-image: none;
    }

    .leftside, .rightside {
        height: 50vh;
        width: 100%;
    }

    a#click-event{
        margin-left: 1000px;
    }

    .leftside {
        background: #0077BE;
        margin-top: 50px;
        color: #fff;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 290px;
        margin-right: 40px;
        height: 450px;
    }

    .rightside {
        background: #0077BE;
        margin-top: 20px;
        margin-left: 0px;
        width: 290px;
        /*margin-bottom: 50px;*/
        height: 450px;
        color: #ffff
    }

    img.image-1 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    img.image-2 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    h1.fossil-heading {
        margin-left: 10px;
        color: #fff;
        font-size: 20px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil:hover {
        color: #fff;
    }

    p.para-1 {
        word-wrap: break-word;
        margin-left: 15px;
        width: 400px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        margin-top: 0;
        width: auto;
    }

    a.fossil {
        margin-left: 10px;
        font-size: 20px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil-fuel:hover {
        color: #fff;
    }

    .fossil-fuel {
        margin-left: 10px;
        font-size: 20px;
    }

    .carousel-control-prev #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    .carousel-control-next #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    a.hello {
        font-size: 20px;
        margin-left: 25px;
        color: #155E88;
        font-family: Arial, sans-serif;
        padding: 0px 12px 0px 3px;
    }

    p.para-2 {
        font-size: 35px;
        font-weight: 600;
    }

    h2.event {
        font-size: 35px;
    }

    #news-row {
        width: 300px;
    }

    img#sustain-pic {
        width: 268px;
    }

    #carouselExampleControlss {
        width: 200%;
    }

    #carouselExampleControls {
        width: 200%;
    }

    .d-block w-100 {
        height: 900%;
        width: 900%;
    }



    .copy {
        margin-left: 10px;
        margin-top: 160%;
        font-size: 12px;
        color: #000;
        font-weight: 500;
    }

    .media {
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: 6%;
        /*transform: translate(-53%, -50%);*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        margin-left: 0;
        width: 15%;
        white-space: nowrap;
        /*Set the fixed height of the footer here*/
        height: 60px;
        line-height: 60px;
        /*Vertically center the text there*/
    }

    li:hover {
        background: #3B5998;
        color: white;
        border: 1px solid #292929;
        transition: .5s;
    }



    li.social-media {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        /*padding: 5px 5px;*/
        background: #3B5998;
        color: white;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin-left: 135px;
        width: 20%;
        height:7%;
    }

    li.social-media1 {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        padding: 5px 5px;
        background: #e4405f;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin: 15px 15px;
        margin-top: 50px;
        height: 7%;
       
    }
}

@media only screen and (min-width: 375px) and (max-width: 424px) {
    .menu-container {
        display: block;
    }

    img#logo {
        height: 60px;
        width: 190px;
        margin-left: 40px;
        margin-top: 0px;
    }

    #logo {
        margin-top: 10px;
        margin-left: 30px;
    }

    .carousel-item .img-fluid {
        width: 100%;
        max-height: 2100%;
    }



    #carouselFull {
        width: 100%;
        height: 800%;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .toggler {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 2.0rem;
        left: 0.5rem;
        width: 40px;
        height: 45px;
        border-radius: 50%;
        background-color: #0077BE;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    #news-row {
        width: 350px;
    }

        .hamburger > div {
            position: absolute;
            width: 60%;
            height: 3px;
            border-radius: 1.5px;
            background-color: #fff;
            transition: .4s;
        }

            .hamburger > div:before, .hamburger > div:after {
                content: '';
                position: absolute;
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: #fff;
                transition: .4s;
            }

            .hamburger > div:before {
                top: -10px;
            }

            .hamburger > div:after {
                top: 10px;
            }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg)
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg)
    }

    .toggler:checked + .hamburger > div:after, .toggler:checked + .hamburger > div:before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        visibility: visible;
    }

        .toggler:checked ~ .menu > div {
            transform: translateX(-50%) translateY(-50%);
        }

            .toggler:checked ~ .menu > div > div {
                opacity: 1;
            }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        transition: .6s;
    }

        .menu > div {
            position: absolute;
            width: 700px;
            height: 1200px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%);
            background-color: rgba(0, 0, 0, 0.9);
            transition: .6s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .menu > div > div {
                max-width: 900vh;
                max-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
            }

                .menu > div > div > ul > li {
                    list-style: none;
                }

                    .menu > div > div > ul > li > a {
                        text-decoration: none;
                        margin: .5rem;
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #fff;
                        transition: .3s;
                    }

                        .menu > div > div > ul > li > a:hover {
                            color: #fff44f;
                        }

    .carousel-inner carousel-item {
        height: 100vh;
    }

    #carousel {
        padding-bottom: 250px;
        float: left;
    }

    .carousel h3 {
        font-size: 50px;
        text-transform: uppercase;
    }

    .carousel-control-prev {
        background-image: none;
    }

    .carousel-control-next {
        background-image: none;
    }

    .leftside, .rightside {
        height: 50vh;
        width: 100%;
    }

    .leftside {
        background: #0077BE;
        margin-top: 50px;
        color: #fff;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 345px;
        margin-right: 40px;
        height: 450px;
    }

    .rightside {
        background: #0077BE;
        margin-top: 20px;
        margin-left: 0px;
        width: 345px;
        /*margin-bottom: 50px;*/
        height: 450px;
        color: #ffff
    }

    img#sustain-pic {
        width: 318px;
    }

    img.image-1 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    img.image-2 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    h1.fossil-heading {
        margin-left: 15px;
        color: #fff;
        font-size: 55px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil:hover {
        color: #fff;
    }

    p.para-1 {
        word-wrap: break-word;
        margin-left: 15px;
        width: 400px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        margin-top: 0;
        width: auto;
    }

    a.fossil {
        margin-left: 10px;
        font-size: 20px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil-fuel:hover {
        color: #fff;
    }

    .fossil-fuel {
        margin-left: 60px;
    }

    .fossil-fuel {
        margin-left: 15px;
        font-size: 20px;
    }

    .carousel-control-prev #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    .carousel-control-next #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    a.hello {
        font-size: 20px;
        margin-left: 25px;
        color: #155E88;
        font-family: Arial, sans-serif;
        padding: 0px 12px 0px 3px;
    }

    p.para-2 {
        font-size: 35px;
        font-weight: 600;
    }

    h2.event {
        font-size: 35px;
        
    }

    #carouselExampleControlss {
        width: 190%;
    }

    #carouselExampleControls {
        width: 190%;
    }

    .d-block w-100 {
        height: 900%;
        width: 900%;
    }



    .copy {
        margin-left: 10px;
        margin-top: 160%;
        font-size: 12px;
        color: #000;
        font-weight: 500;
    }

    .media {
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: 6%;
        /*transform: translate(-53%, -50%);*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        margin-left: 0;
        width: 15%;
        white-space: nowrap;
        /*Set the fixed height of the footer here*/
        height: 60px;
        line-height: 60px;
        /*Vertically center the text there*/
    }

    li:hover {
        background: #3B5998;
        color: white;
        border: 1px solid #292929;
        transition: .5s;
    }



    li.social-media {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        /*padding: 5px 5px;*/
        background: #3B5998;
        color: white;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin-left: 135px;
        width: 20%;
        height: 7%;
    }

    li.social-media1 {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        padding: 5px 5px;
        background: #e4405f;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin: 15px 15px;
        margin-top: 50px;
        height: 7%;
    }
}

@media only screen and (min-width: 425px) and (max-width: 767px) {


    .menu-container {
        display: block;
    }

    #news-row {
        width: 405px;
    }

    img#logo {
        height: 60px;
        width: 190px;
        margin-left: 40px;
        margin-top: 0px;
    }

    #logo {
        margin-top: 10px;
        margin-left: 30px;
    }

    .carousel-item .img-fluid {
        width: 100%;
        max-height: 2100%;
    }



    #carouselFull {
        width: 100%;
        height: 1000%;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .toggler {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 2.0rem;
        left: 0.5rem;
        width: 40px;
        height: 45px;
        border-radius: 50%;
        background-color: #0077BE;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

        .hamburger > div {
            position: absolute;
            width: 60%;
            height: 3px;
            border-radius: 1.5px;
            background-color: #fff;
            transition: .4s;
        }

            .hamburger > div:before, .hamburger > div:after {
                content: '';
                position: absolute;
                position: absolute;
                width: 100%;
                height: 3px;
                border-radius: 1.5px;
                background-color: #fff;
                transition: .4s;
            }

            .hamburger > div:before {
                top: -10px;
            }

            .hamburger > div:after {
                top: 10px;
            }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg)
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg)
    }

    .toggler:checked + .hamburger > div:after, .toggler:checked + .hamburger > div:before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        visibility: visible;
    }

        .toggler:checked ~ .menu > div {
            transform: translateX(-50%) translateY(-50%);
        }

            .toggler:checked ~ .menu > div > div {
                opacity: 1;
            }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        transition: .6s;
    }

        .menu > div {
            position: absolute;
            width: 500px;
            height: 1600px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%);
            background-color: rgba(0, 0, 0, 0.9);
            transition: .6s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .menu > div > div {
                max-width: 900vh;
                max-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
            }

                .menu > div > div > ul > li {
                    list-style: none;
                }

                    .menu > div > div > ul > li > a {
                        text-decoration: none;
                        margin: .5rem;
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #fff;
                        transition: .3s;
                    }

                        .menu > div > div > ul > li > a:hover {
                            color: #fff44f;
                        }

    .carousel-inner carousel-item {
        height: 100vh;
    }

    #carousel {
        padding-bottom: 250px;
        float: left;
    }

    .carousel h3 {
        font-size: 50px;
        text-transform: uppercase;
    }

    .carousel-control-prev {
        background-image: none;
    }

    .carousel-control-next {
        background-image: none;
    }

    .leftside, .rightside {
        height: 50vh;
        width: 100%;
    }

    .leftside {
        background: #0077BE;
        margin-top: 50px;
        color: #fff;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 395px;
        margin-right: 40px;
        height: 450px;
    }

    .rightside {
        background: #0077BE;
        margin-top: 20px;
        margin-left: 0px;
        width: 395px;
        /*margin-bottom: 50px;*/
        height: 450px;
        color: #ffff
    }

    img.image-1 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    img.image-2 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    h1.fossil-heading {
        margin-left: 15px;
        color: #fff;
        font-size: 55px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil:hover {
        color: #fff;
    }

    p.para-1 {
        word-wrap: break-word;
        margin-left: 15px;
        width: 400px;
        color: #fff;
        font-weight: 300;
        font-size: 15px;
        margin-top: 0;
        width: auto;
    }

    a.fossil {
        margin-left: 10px;
        font-size: 20px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil-fuel:hover {
        color: #fff;
    }

    .fossil-fuel {
        margin-left: 60px;
    }

    .fossil-fuel {
        margin-left: 15px;
        font-size: 20px;
    }

    img#sustain-pic {
        width: 373px;
    }

    .carousel-control-prev #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    .carousel-control-next #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    a.hello {
        font-size: 20px;
        margin-left: 25px;
        color: #155E88;
        font-family: Arial, sans-serif;
        padding: 0px 12px 0px 3px;
    }

    p.para-2 {
        font-size: 35px;
        font-weight: 600;
    }

    h2.event {
        font-size: 35px;
    }

    #carouselExampleControlss {
        width: 190%;
    }

    #carouselExampleControls {
        width: 190%;
    }

    .d-block w-100 {
        height: 900%;
        width: 900%;
    }



    .copy {
        margin-left: 10px;
        margin-top: 140%;
        font-size: 17px;
        color: #000;
        font-weight: 500;
    }

    .media {
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: 6%;
        /*transform: translate(-53%, -50%);*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        margin-left: 0;
        width: 15%;
        white-space: nowrap;
        /*Set the fixed height of the footer here*/
        height: 60px;
        line-height: 60px;
        /*Vertically center the text there*/
    }

    li:hover {
        background: #3B5998;
        color: white;
        border: 1px solid #292929;
        transition: .5s;
    }



    li.social-media {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        /*padding: 5px 5px;*/
        background: #3B5998;
        color: white;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin-left: 220px;
        width: 14%;
        height: 7%;
    }

    li.social-media1 {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        padding: 5px 5px;
        background: #e4405f;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin: 15px 15px;
        margin-top: 50px;
        height: 7%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    #nav {
        width: 58%;
        
    }

    .navbar-nav > li > .dropdown-menu {
        background-color: #0077BE;
    }

   
    a.fossil-fuel {
        font-size: 35px;
        margin-left: 50px;
    }


    img#logo {
        height: 60px;
        width: 190px;
        margin-left: 0px;
        margin-top: 0px;
    }

    #logo {
        margin-top: 10px;
        margin-left: 0;
    }

    .carousel-item .img-fluid {
        width: 100%;
        max-height: 2100%;
    }



    #carouselFull {
        width: 185%;
        margin-top: 160px;
    }

    .img-fluid {
        max-width: 100%;
        height: auto;
    }

    .menu-container {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .toggler {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    .hamburger {
        position: absolute;
        top: 2.5rem;
        left: 0.5rem;
        width: 80px;
        height: 75px;
        border-radius: 50%;
        background-color: #0077BE;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    .navbar-nav {
        font-size: 11px;
        font-weight: 600;
        margin-left: 0;
        margin-top: 0;
        color: #155E88;
    }

    .hamburger > div {
        position: absolute;
        width: 60%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fff;
        transition: .4s;
    }

        .hamburger > div:before, .hamburger > div:after {
            content: '';
            position: absolute;
            position: absolute;
            width: 100%;
            height: 3px;
            border-radius: 1.5px;
            background-color: #fff;
            transition: .4s;
        }

        .hamburger > div:before {
            top: -10px;
        }

        .hamburger > div:after {
            top: 10px;
        }

    .toggler:checked + .hamburger > div {
        transform: rotate(135deg)
    }

    .toggler:checked:hover + .hamburger > div {
        transform: rotate(225deg)
    }

    .toggler:checked + .hamburger > div:after, .toggler:checked + .hamburger > div:before {
        transform: rotate(90deg);
        top: 0;
    }

    .toggler:checked ~ .menu {
        visibility: visible;
    }

        .toggler:checked ~ .menu > div {
            transform: translateX(-50%) translateY(-50%);
        }

            .toggler:checked ~ .menu > div > div {
                opacity: 1;
            }

    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        visibility: hidden;
        transition: .6s;
    }

        .menu > div {
            position: absolute;
            width: 1600px;
            height: 1600px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translateX(-150%) translateY(-50%);
            background-color: rgba(0, 0, 0, 0.9);
            transition: .6s;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .menu > div > div {
                max-width: 900vh;
                max-height: 100vh;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                opacity: 0;
            }

                .menu > div > div > ul > li {
                    list-style: none;
                }

                    .menu > div > div > ul > li > a {
                        text-decoration: none;
                        margin: .5rem;
                        display: inline-block;
                        font-size: 1.2rem;
                        font-weight: 500;
                        text-transform: uppercase;
                        color: #fff;
                        transition: .3s;
                    }

                        .menu > div > div > ul > li > a:hover {
                            color: #fff44f;
                        }

    .carousel-inner carousel-item {
        height: 100vh;
    }

    #carousel {
        padding-bottom: 250px;
        float: left;
    }

    .carousel h3 {
        font-size: 50px;
        text-transform: uppercase;
    }

    .carousel-control-prev {
        background-image: none;
    }

    .carousel-control-next {
        background-image: none;
    }

    .leftside, .rightside {
        height: 50vh;
        width: 100%;
    }

    .leftside {
        background: #0077BE;
        margin-top: 50px;
        color: #fff;
        margin-bottom: 50px;
        margin-left: 0px;
        width: 605px;
        margin-right: 40px;
        height: 700px;
        word-wrap: normal;
    }

    .rightside {
        background: #0077BE;
        margin-top: 50px;
        margin-left: 320px;
        width: 605px;
        margin-bottom: 50px;
        height: 700px;
        color: #ffff;
    }

    img.image-1 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    img.image-2 {
        height: 240px;
        width: 100%;
        margin-bottom: 20px;
    }

    h1.fossil-heading {
        margin-left: 15px;
        color: #fff;
        font-size: 55px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil:hover {
        color: #fff;
    }

    p.para-1 {
        word-wrap: break-word;
        margin-left: 60px;
        width: 400px;
        color: #fff;
        font-weight: 300;
        font-size: 30px;
        margin-top: 0;
    }

    a.fossil {
        margin-left: 50px;
        font-size: 35px;
    }

    a:link, a:hover, a:active, a:visited {
        color: white;
    }

    a.fossil-fuel:hover {
        color: #fff;
    }

    .fossil-fuel {
        margin-left: 60px;
    }

    .carousel-control-prev #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    .carousel-control-next #previous {
        background-color: #155E88;
        color: #155E88;
        height: 40px;
        width: 40px;
    }

    a.hello {
        font-size: 20px;
        margin-left: 25px;
        color: #155E88;
        font-family: Arial, sans-serif;
        padding: 0px 12px 0px 3px;
    }

    p.para-2 {
        font-size: 35px;
        font-weight: 600;
    }

    h2.event {
        font-size: 35px;
    }

    #carouselExampleControlss {
        width: 190%;
    }

    #carouselExampleControls {
        width: 190%;
    }

    .d-block w-100 {
        height: 900%;
        width: 900%;
    }



    .copy {
        margin-left: 10px;
        margin-top: 80%;
        font-size: 25px;
        color: #000;
    }

    .media {
        position: absolute;
        top: 40%;
        left: 40%;
        margin-top: 6%;
        /*transform: translate(-53%, -50%);*/
    }

    .footer {
        position: absolute;
        bottom: 0;
        margin-left: 0;
        width: 15%;
        white-space: nowrap;
        /*Set the fixed height of the footer here*/
        height: 60px;
        line-height: 60px;
        /*Vertically center the text there*/
    }

    li:hover {
        background: #3B5998;
        color: white;
        border: 1px solid #292929;
        transition: .5s;
    }



    li.social-media {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        padding: 5px 5px;
        background: #3B5998;
        color: white;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin-left: 350px;
        width: 10%;
    }

    li.social-media1 {
        list-style: none;
        /*margin: 10px 30px;*/
        display: inline-block;
        font-size: 40px;
        padding: 5px 5px;
        background: #e4405f;
        /*border: 1px solid #292929;*/
        transition: .5s;
        margin: 15px 15px;
        margin-top: 50px;
    }
}
