@model NCSustainability.Models.Promotion

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Promotion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-8 ml-3">
                    @{
                        if (Model.imageContent != null && Model.imageMimeType.Contains("image"))
                        {
                            string imageBase64 = Convert.ToBase64String(Model.imageContent);
                            string imageSrc = string.Format("data:" + Model.imageMimeType + ";base64,{0}", imageBase64);
                            <div class="row">
                                <img src="@imageSrc" alt="Profile Picture of @Model.Description" title="Profile Picture of @Model.Description" style="max-height: 500px; max-width: 600px" class="img-fluid rounded" /><br />
                            </div>
                            <div class="row">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="chkRemoveImage" name="chkRemoveImage" /> <strong>Check to remove Image</strong>
                                    </label>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SPdate" class="control-label"></label>
                <input asp-for="SPdate" class="form-control" />
                <span asp-validation-for="SPdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EPdate" class="control-label"></label>
                <input asp-for="EPdate" class="form-control" />
                <span asp-validation-for="EPdate" class="text-danger"></span>
            </div>
            <div class="form-group custom-file mt-3">
                <label class="control-label custom-file-label">Picture File:</label>
                <input type="file" class="custom-file-input" name="thePicture" /><br />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
